.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #dd9a6a;
  color: #fff;
}
.logo {
  font-size: 18px;
  font-weight: bold;
}
.basket {
  width: 20px;
  height: 20px;
}
