.bar {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #090909;
  height: 140px;
}
.bar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar-content {
  font-size: 20px;
  color: rgb(243, 241, 237);
}

.circle {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .bar-slider1 {
    width: 2em;
    height: 4em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #b1a050;
  }
  .bar-slider2 {
    width: 2em;
    height: 4em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: #c89881;
  }
}
